.customcalendar {
  color: rgba(230, 224, 224, 0.733);
  font-weight: 500;
}

.rc_header_nav {
  display: none;
}

.rc_header_label .rc_header_label-days-of-month {
  border: none;
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: rgba(230, 224, 224, 0.842);
  border-radius: 5px;
  background-color: #222125a4;
}

.rc_header_label .rc_header_label-days-of-month:hover {
  background-color: #222125a4;
}

.rc_body-weekdays .rc_body-weekdays_cell {
  margin-top: 10px;
}

.rc_root button {
  border: none;
  background-color: #222125a4;
  border-radius: 5px;
  color: inherit;
  font: inherit;
}

.rc_root button:hover {
  background-color: #22212570;
  color: #ffffffcc;
}

.rc_body-days-of-month .rc_body-cell {
    margin-top: 20px;
}

.rc_body-days-of-month .rc_body-cell.rc_today:not(.rc_disabled) button,
.rc_body-days-of-month .rc_body-cell.rc_highlight:not(.rc_disabled) button {
    background-color: #6951b38e;
}

/*  SELECTED ??? */
.rc_body-days-of-month .rc_body-cell.rc_selected .rc_body-cell_value {
    background-color: black;
}

.rc_body-days-of-month .rc_body-cell.rc_selected button {
    color: black;
  }
  
  .rc_body-days-of-month .rc_body-cell.rc_selected.rc_wknd .rc_body-cell_value {
    background-color: black;
  }
  
  .rc_body-days-of-month .rc_body-cell.rc_selected.rc_wknd button {
    color: black;
  }